name: Update README

on:
  schedule:
    - cron: '0 * * * *'  # her saat başı
  workflow_dispatch:

jobs:
  update-readme:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: pip install PyGithub

    - name: Run tracker script
      env:
        GITHUB_PAT: ${{ secrets.GITHUB_PAT }}
      run: python tracker.py

    - name: Update README
      run: python update_readme.py

    - name: Commit and push changes
      run: |
        git config user.name "github-actions"
        git config user.email "github-actions@github.com"
        git add README.md
        git commit -m "Update README with latest GitHub stats" || echo "No changes"
        git push
